.header {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  padding: 15px;
  background-color: $white;
  -webkit-box-shadow: -1px 1px 7.5px 1.5px rgba(#000000, 0.3);
  -moz-box-shadow: -1px 1px 7.5px 1.5px rgba(#000000, 0.3);
  box-shadow: -1px 1px 7.5px 1.5px rgba(#000000, 0.3);
}

.header__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  font-size: 24px;
  color: $black;
}

.header__left-side {
  justify-self: start;
}

.burger-icon {
  @include icon-size;
}

.header__center {
  justify-self: center;
}
.header__logo {
  border: 1px solid $black;
  padding: 0 10px;
  text-align: center;
  font-weight: 600;
}

.header__right-side {
  justify-self: end;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__links {
  font-weight: 400;
  margin-right: 10px;
  display: flex;
  font-size: 20px;
  cursor: pointer;
  a {
    position: relative;
    padding: 5px;
    transition: all 0.5s;
    &::after {
      position: absolute;
      content: "";
      width: 0;
      height: 2px;
      z-index: 4;
      left: 0;
      bottom: 0;
      background-color: $dark-grey;
      transition: all 0.3s;
    }
  }
  .header__active-link {
    font-weight: 500;
    &::after {
      width: 100% ;
    }
  }  
}
.header__log-in {
}

/* .header__active-link {
  font-weight: 500;
  &::after {
    width: 100% !important;
  }
} */

.header__user-container {
  position: relative;
  display: flex;
  align-items: center;
  background-color: $dark-grey;
  color: $white;
  border-radius: 5px;
  padding: 0 5px;
}

.header__user {
  margin-right: 5px;
  width: 30px;
  height: 30px;
  fill: $white;
}

.header__user-text {
  font-size: 16px;
  font-weight: 400;
}

.shop-bag {
  cursor: pointer;
  position: relative;
}

.shop-bag__counter {
  position: absolute;
  width: 18px;
  line-height: 18px;
  height: 18px;
  text-align: center;
  bottom: -2px;
  right: 2px;
  font-size: 14px;
  font-weight: 600;
  background-color: $orange;
  border-radius: 50%;
  z-index: 5;
  transition: all 0.3s;
}

.shop-bag__counter_animation {
  /* width: 22px;
  line-height: 22px;
  height: 22px;
  font-size: 16px; */
  transform: scale(1.5);
}

.shop-bag__icon {
  @include icon-size;
}
