.main {
  margin-bottom: 20px;
  flex-grow: 1;
}
.main__content {
  margin: 0 auto;
  max-width: 1400px;
}

.main__title {
  text-align: center;
  font-size: 24px;
  margin: 20px 0;
}

.main__products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  grid-template-rows: repeat(auto-fill, auto);
  gap: 10px;
}
.main__product-cart {
  border-radius: 10px;
  padding: 10px;
  background-color: $white;
  transition: all 0.3s;
  cursor: pointer;

  -webkit-box-shadow: 0.5px 1px 16.5px -9px #ffffff;
  -moz-box-shadow: 0.5px 1px 16.5px -9px #ffffff;
  box-shadow: 0.5px 1px 16.5px -9px #ffffff;

  &:hover {
    transform: scale(1.025);
  }
}

.main__product-image-container {
  height: 250px;
  overflow: hidden;
}

.main__product-image {
  width: 100%;
  object-fit: contain;
  height: 100%;
  transition: all 0.3s;
}
.main__product-description {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__product-title {
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 10px;
  border-bottom: 1px solid $dark-grey;
}
.main__product-prices {
  padding-top: 10px;
}
.main__product-price {
  font-size: 18px;
  font-weight: 500;
  color: $black;
  border-radius: 10px;
  //padding: 4px;
  //background-color: $dark-grey;
}
.main_product-item {
}
