
@media screen and (min-width: 700px) {
  

  .main__products {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, auto));
  }
}

@media screen and (max-width: 415px) {
  .product-card__images {
    padding: 20px 0;
  }

  .header__links {
    margin-right: 5px;
    a {
      padding: 0px;
    }
  }

  .product-card {
    grid-template-columns: 1fr;
}

  .header__links {
    font-size: 16px;
  }

  .main__products {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .pop-up__container {
    width: 95%;
  }

  .pop-up__submit {
    display: block;
    width: 70%;
    padding: 10px;
    margin: 0 auto;
    background-color: $orange;
    color: $white;
    font-size: 20px;
    transition: all 0.5s;
  }

  .pop-up__top-row {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 40px;
    row-gap: 40px;
  }
}
